@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-firefly-primary: #ffcb62;
  --color-firefly-secondary: #f9b53f;
  --color-firefly-accent: #f4d158;
  --color-firefly-bg: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  background-color: var(--color-firefly-bg);
}
